/**
 * name: figma
 * version: v0.0.0
 * description: 
 * author: 
 */
.content[data-v-94a1d099]{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:center;color:var(--c-text);margin-top:calc(var(--w-space) * 3)}.content a[data-v-94a1d099]{color:#42b983}
